:root{
    --principal-color: #ddd6fe;
    --background-color: #e2e8f0;
    --profile-background-color: #c4b5fd;
    --icon-size: 25px;
    --shadow: 0px 15px 30px -35px black;
    --radius: 15px;
    --box-size-width: 240px;
    --tex-description-color: rgb(110, 110, 110);
    --text-description-size: 14px;
}

body{
    height: auto;
    width: auto;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body > div {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;   
}

body div {border: 0px solid red;}

.first-layer{
    z-index: 10;
}

.side-bar {
    grid-row: 1 / -1;
    background-color: var(--principal-color);
}

#side-bar-container {
    display: grid;
    column-gap: 20px;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: 120px repeat(10, 40px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.dashboard{
    font-size: 20px;
}

#dashboard-icon{
height: calc(var(--icon-size) + 15px);
width: calc(var(--icon-size) + 15px);
}

.side-bar img {
    justify-self: end;
}

.icon{
    height: var(--icon-size);
    width: var(--icon-size);
}

.content-container {
    background-color: var(--background-color);
    grid-area: 2 / 2 / -1 /-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;  
    padding: 10px;
}

.header {
    grid-area: 2 / 3 / 1 / 2;
    box-shadow: 0px 15px 30px -35px black;
    z-index: 20;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;   
}

.header-container:nth-child(1){
    display: grid;
    grid-template-columns: var(--icon-size) 0.9fr;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

.header-container:nth-child(1) input{
    border-radius: 100px;
    border: 0;
    background-color: var(--background-color);
}

.header-container:nth-child(2){
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
}

.header-container:nth-child(2) img:not(.icon) {
    height: calc(var(--icon-size)*1.5);
    width: calc(var(--icon-size)*1.5);
    background-color: var(--profile-background-color);
    border-radius: 100px;
    height: calc(var(--icon-size)*2);
    width: calc(var(--icon-size)*2);
    display: grid;
    align-content: center;
    justify-content: center;
}

.header-container:nth-child(3){
    display: grid;
    align-items: center;
    justify-items: start; 
    margin: 0 0 15px 15px;
}

.header-container:nth-child(3)>div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 5px;
}

.header-container:nth-child(3) img:not(.icon) {
    height: calc(var(--icon-size)*3);
    width: calc(var(--icon-size)*3);
    grid-row: 1 / -1;
    height: calc(var(--icon-size)*4);
    width: calc(var(--icon-size)*4);
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--profile-background-color);
    border-radius: 100px;
    align-self: center;
}

.header-container:nth-child(3)>div>h2 {
    margin: 0;
}
.header-container:nth-child(3)>div>h4 { 
    display: grid;
    align-content: end;
    margin: 0;
}

.header-container:nth-child(4) {
    display: grid;
    align-content: center;
    justify-content: center;
}

.header-container:nth-child(4)>div{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    grid-column: auto auto auto;
    justify-content: space-evenly;
    gap: 7px;
}

.dashboard-button{
    padding: 10px 20px;
    border-radius: var(--radius);
    border: 0;
    font-weight: bold;
    background-color: var(--principal-color);
}

#projects-out {
    grid-row: 1 / -1;
}
#projects-in {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );
    row-gap: 20px;
    justify-items: center;
}

.content-box{
    height: 250px;
    width: calc(var(--box-size-width) * 0.9);
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 30px 4fr 1fr;
    background-color: white;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    position: relative;
    >div:not(#content-box-icons, .cover){
        grid-row: 1 / -1;
        background-color: #c084fc;
        z-index: 30;
    }
    >#content-box-icons{
        justify-self: end;
        margin: 0 10px;
        z-index: 30;
    }
    >h4, p {
        margin: 10px 0 0 10px;
        z-index: 30;
    }
    p{
        font-size: var(--text-description-size);
        color: var(--tex-description-color);
    }
    .cover{
        position: absolute;

        height: 230px;
        width: 230px;
        z-index: 20;
    }
}

.content-box:nth-child(n){
    background-size: 230px;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 10; 
}
.content-box:nth-child(1){
    background-image: url(./projects-caps/Screenshot\ from\ 2023-12-10\ 10-04-44.png);
}
.content-box:nth-child(2){
    background-image: url(./projects-caps/Screenshot\ from\ 2023-12-10\ 10-54-17.png);
}
.content-box:nth-child(3){
    background-image: url(./projects-caps/Screenshot\ from\ 2023-12-10\ 10-54-29.png);
}

#announcements-in{
    display: grid;
    justify-content: center;
    >div{
        background-color: white;
        border-radius: var(--radius);
        padding: 15px;
        width: var(--box-size-width);
        margin: 0;
        >div{
            width: 100%;
            height: 2px;
            background-color: var(--background-color);
        }
    }
    h4, p{
        margin: 10px 0;
    }
    p{
        font-size: var(--text-description-size);
        color: var(--tex-description-color);
    }
}

#trading-in{
    display: grid;
    justify-content: center;
    >div{
        background-color: white;
        border-radius: var(--radius);
        padding: 15px;
        width: var(--box-size-width);
        margin: 0;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
    img{
        height: calc(var(--icon-size)*1.5);
        width: calc(var(--icon-size)*1.5);
        background-color: var(--profile-background-color);
        border-radius: 100px;
        height: calc(var(--icon-size)*2);
        width: calc(var(--icon-size)*2);
        display: grid;
        align-content: center;
        justify-content: center;
    }
    h4, p{
        margin: 10px 0;
    }
    p{
        font-size: var(--text-description-size);
        color: var(--tex-description-color);       
    }
    >div>div:nth-child(2n-1){
        justify-self: center;
    }
    >div>div:nth-child(1){
        :nth-child(1){ 
            background-color: #22c55e;
        }
    }
    >div>div:nth-child(3){
        :nth-child(1){ 
            background-color: #facc15;
        }
    }
    >div>div:nth-child(5){
        :nth-child(1){ 
            background-color: #22d3ee;
        }
    }
    >div>div:nth-child(7){
        :nth-child(1){ 
            background-color: #f43f5e;
        }
    }
}

@media only screen and (max-width: 810px){
    body > div {
        grid-template-columns: auto 4fr;
    }
    #side-bar-container {
        grid-template-columns:auto;
        margin: 5px;
        img{justify-self: center;}
        p{
            display: none;
        }
    }
    @media only screen and (max-width: 640px){
        .header-container:nth-child(3)>div{
            display: none;
        }
        .header-container:nth-child(4)>div{
            margin: 10px;
        }
        .header {
            grid-template-rows: auto auto;   
        }
        @media only screen and (max-width: 566px){
            .content-container {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;  
            }
            #projects-out {
                display: grid;
                justify-content: center
            }
            .header-container:nth-child(4)>div{
               display: none;
            }
            .header-container:nth-child(2) {
                margin: 0;
                h3{
                display: none;
                }
            }
            .header{
                padding: 10px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto 0px;
            }
            @media only screen and (max-width: 380px){
                
                .header-container:nth-child(1) input{
                    display: none;
                }
                @media only screen and (max-width: 340px){
                    .side-bar{
                        display: none;
                    }
                    :root{
                        --box-size-width: 200px;
                    }
                }
            };
        };
    };
};




